@tailwind base;
@tailwind components;
@tailwind utilities;
.arstaion-loader {
  animation: spin alternate 0.7s ease-in-out infinite;
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}
